@mixin section-horizontal-padding {
  padding-left: map-get($section-horizontal-padding, $mobile-name);
  padding-right: map-get($section-horizontal-padding, $mobile-name);

  @media (min-width: $tablet-size) {
    padding-left: map-get($section-horizontal-padding, $tablet-name);
    padding-right: map-get($section-horizontal-padding, $tablet-name);
  }

  @media (min-width: $laptop-size) {
    padding-left: map-get($section-horizontal-padding, $laptop-name);
    padding-right: map-get($section-horizontal-padding, $laptop-name);
  }
}
