$mobile-size: 320px;
$tablet-size: 768px;
$laptop-size: 1120px;
$desktop-size: 1440px;

$mobile-name: 'mobile';
$tablet-name: 'tablet';
$laptop-name: 'laptop';
$desktop-name: 'desktop';

$white: #fff;

$sucess: lightgreen;
$error: red;

$main-action: #ff3e79;
$left-decor: #41f6d7;
$section-divider: #d9fff5;
$btn-link-active: #b8ffec;

$main-text-color: #1b1c21;
$secondary-text-color: #7e7e82;
$placeholder-color: #b5b6bc;
$field-border: #eaeaea;

$main-bgc: #f8f8f8;

$show-more-btn-brands-transition-duration: 0.5s;
