.section-title {
  margin: 0;
  padding: 16px;
  background-color: $white;
  background: $white linear-gradient(to right, $main-bgc, $white);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: $secondary-text-color;
  text-transform: uppercase;

  @include section-gorizontal-padding;
}
