.brands-section {
  @media (min-width: $tablet-size) {
    padding-bottom: 32px;
  }

  @media (min-width: $laptop-size) {
    padding-bottom: 50px;
  }

  &__show-more-button {
    display: none;
    transition:
      margin-top $show-more-btn-brands-transition-duration linear,
      border-bottom 0.3s;

    @media (min-width: $tablet-size) {
      display: flex;
      margin: 0 24px;
    }

    @media (min-width: $laptop-size) {
      margin: 0 32px;
    }

    &--active {
      margin-top: 22px;
    }
  }
}
