$pagination-bullet: #979797;
$pagination-bullet--active: #b5b6bc;

.swiper {
  padding: 16px 0 52px map-get($section-gorizontal-padding, $mobile-name);

  @media (min-width: $tablet-size) {
    padding: map-get($section-gorizontal-padding, $tablet-name);
  }

  @media (min-width: $laptop-size) {
    padding: 24px map-get($section-gorizontal-padding, $laptop-name);
  }

  &__wrapper {
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media (min-width: $tablet-size) {
      display: grid;
      grid-template-columns: repeat(3, minmax(200px, 1fr));
      row-gap: 16px;
      column-gap: 24px;
      max-height: 160px;
      overflow: hidden;
      transition: max-height 1s linear;
    }

    @media (min-width: $desktop-size) {
      grid-template-columns: repeat(4, minmax(223px, 1fr));
      row-gap: 16px;
      column-gap: 32px;
    }

    &--show-all {
      transition: max-height $show-more-btn-brands-transition-duration linear;
    }
  }

  &__slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 72px;
    padding: 16px;
    border-radius: 6px;
    background-color: $white;

    @media (min-width: $tablet-size) {
      width: auto;
    }

    &--technique {
      align-items: flex-start;
      height: 160px;
    }
  }

  &__slide-title {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: -0.2px;
  }

  &__slide-button {
    align-self: flex-end;
  }
}

.swiper-horizontal > .swiper__pagination {
  bottom: 24px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: $pagination-bullet;
}

.swiper-pagination-bullet-active {
  background-color: $pagination-bullet--active;
}
