@import './normalize';
@import './custom-reset';
@import './fonts';
@import './helpers/variables';
@import './helpers/maps';
@import './helpers/mixins.scss';

@import './common/visually-hidden/visually-hidden';
@import './common/section/section';

@import './blocks/action-button/action-button';
@import './blocks/logo/logo';
@import './blocks/page-title/page-title';
@import './blocks/show-more-button/show-more-button';
@import './blocks/switcher-languages/switcher-languages';
@import './blocks/section-title/section-title';
@import './blocks/page-menu/page-menu';
@import './blocks/form';

@import '../components/swiper/swiper';
@import '../components/modal/modal';

@import './layouts/header/header';
@import './layouts/aside-menu/aside-menu';
@import './layouts/main/main';
@import './layouts/about-section/about-section';
@import './layouts/price-section';
@import './layouts/footer';

html {
  font-family: 'TT Lakes', sans-serif;
  font-weight: normal;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: $main-text-color;
  scroll-behavior: smooth;

  @media (min-width: $tablet-size) {
    line-height: 20px;
  }
}

.body {
  font-size: 1.4rem;

  &__inner {
    position: relative;
    max-width: $desktop-size;
    margin: 0 auto;

    @media (min-width: $laptop-size) {
      display: grid;
      grid-template-columns: 320px 1fr;
    }
  }

  &--no-scroll {
    overflow-y: hidden;
  }
}
