.switcher-languages {
  display: flex;
  gap: 7px;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  font-size: 1.6rem;
  list-style-type: none;

  @media (min-width: $tablet-size) {
    margin-top: 40px;
  }

  &__button {
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: inherit;
    text-transform: uppercase;
    color: inherit;
    cursor: pointer;

    &--active {
      color: $secondary-text-color;
    }
  }
}
